
#list-container {
  width: 320px;
  background-color: #fff;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 7px;
  height: 200px;
  overflow: scroll;
}

li {
  font: 200 16px/2.5 verdana, arial, helvetica, sans-serif;
  border-bottom: 1px solid #ccc;
  padding: 0px 16px;
}

li:last-child {
  border-top: none;
  border-bottom: 1px solid #ccc;
}

li {
  text-decoration: none;
  color: #000;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
  display: block;
  width: 320px;
}

li.selected{
  background: #e7e7e7;
}

li:hover, li:focus {
  background: #00698c;
  color: #fff;
}

.mwf-input-text-label {
    margin-top: 0;
    font-weight: 700;
    color: #44464a
}

.mwf-select-list-target {
    width: 300px;
    margin-right: 30px
}

.mwf-select-list-target {
    position: relative;
    display: table;
    height: 45px;
    margin: 10px 10px 0 0;
    border: 1px solid #cfd1d7;
    border-radius: 2px;
    padding: 0 10px;
    color: #000;
    background-color: #fff;
    cursor: pointer;
	outline: none;
}
.mwf-select-list-target:focus {
	outline: thin dotted !important;
	outline-width: 1px !important;
	outline-color: #333 !important;
	
}

.mwf-select-list-target .select-list-target-label {
    display: table-cell;
    vertical-align: middle;
    color: #44464a;
    word-wrap: break-word;
    word-break: break-word;
    padding-right: 1px
}

.accessibilityLabel {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
    overflow: hidden;
    opacity: 0
}

.visuallyhidden {
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    position: absolute;
    width: 1px;
    overflow: hidden;
    opacity: 0
}

.mwf-select-list-target i.mwf-icon,.mwf-select-list-target img.mwf-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 40px
}



#arrow {
	width: 20px;
	padding: 18px 5px 0px 5px;

}
